Horizon {
    -fx-padding: 5;
    -fx-background-color: #ffd8de;
}

.seperator {

}

.title {
    -fx-font-family: "Lato-Regular, Lato";
}
 .value {

 }

 .unit {

 }

.bar {
    -fx-fill: #D8D8D8;
    -fx-stroke: #4DD0E1;
    -fx-stroke-width: 5px;
    -fx-stroke-line-cap: square;
}

.barBackground {
    -fx-fill: #D8D8D8;
    -fx-stroke: #424242;
    -fx-stroke-width: 5px;


}


