Horizon {
    -fx-padding: 5;
    -fx-background-color: white;
}

.seperator {
    -fx-stroke: #4DD0E1;
    -fx-stroke-width: 3px;

}

.title {
    -fx-font-family: "Lato-Regular, Lato";
}
 .valueInput {
     -fx-border-width: 0px;
     -fx-font-family: "Lato-Light, Lato";
     -fx-font-size: 48px;
     -fx-font-weight: 300px;

 }

 .unit {
     -fx-font-family: "Lato-Regular, Lato";
     -fx-font-size: 25px;
 }

.bar {
    -fx-fill: #D8D8D8;
    -fx-stroke: #4DD0E1;
    -fx-stroke-width: 5px;
}

.barBackground {
    -fx-fill: #D8D8D8;
    -fx-stroke: #424242;
    -fx-stroke-width: 5px;


}


