.potHeightControl {
    -fx-padding: 10;
    /*-base-color: rgb(2, 138, 204);*/
    -fx-background-color: derive(-base-color, 80%);
}

.potHeightControl .drawingPane {
    -fx-background-color: -base-color;
}

.potHeightControl .display {
    -fx-font-family: 'Futura Medium';
    -fx-font-size: 32;
    -fx-fill: derive(-base-color, 80%);
}

.potHeightControl .mainName {
    -fx-font-size: 31px;
}

.potHeightControl .mainCircle {
    -fx-stroke: #000000;
    -fx-stroke-width: 6;
}

.potHeightControl .mainCircleWhite {
    -fx-stroke: #FFFFFF;
    -fx-stroke-width: 9;

}

.potHeightControl .mainLine {
    -fx-stroke: #000000;
    -fx-stroke-width: 6;
}
