.root {
    -fx-focus-color: #e4e4e4;;
}

.potHeightControl {
    -fx-padding: 10;
    -base-color: rgb(255, 255, 255);
    /*-fx-background-color: derive(-base-color, 80%);*/
}

.potHeightControl .drawingPane {
    /*-fx-background-color: -base-color;*/
}

.potHeightControl .display {
    -fx-font-family: 'Lato Bold';
    -fx-font-size: 32px;
    -fx-fill: derive(-base-color, 80%);
}

.potHeightControl .titleLabel {
    -fx-font-family: 'Lato Bold';
    -fx-font-size: 31px;
    -fx-padding: 5px;
    -fx-border-radius: 10px;
    -fx-alignment: center;
    -fx-focus-traversable: true;
    -fx-text-box-border: none;
    -fx-outer-border: none;
}

.potHeightControl .titleLabel:focused {
    -fx-background-color: white;
    -fx-border-color: none;
}

.potHeightControl .heightCircleBig {
    -fx-stroke: #000000;
    -fx-stroke-width: 6px;
    -fx-fill: derive(-base-color, 60%);
}

.potHeightControl .heightCircleSmall {
    -fx-stroke: #000000;
    -fx-stroke-width: 6px;
    -fx-fill: derive(-base-color, 90%);
}

.potHeightControl .heightLine {
    -fx-stroke: #000000;
    -fx-stroke-width: 6px;
}

.potHeightControl .heightLabel {
    -fx-fill: #000000;
    -fx-font-family: 'Lato Bold';
    -fx-font-size: 24px;
    -fx-alignment: center;
    -fx-focus-traversable: true;
    -fx-text-box-border: none;
    -fx-outer-border: none;
}

.potHeightControl .heightLabel:focused {
    -fx-background-color: white;
    -fx-border-color: none;
}

.potHeightControl .heightLabelBox {
    -fx-padding: 5px;
}

.potHeightControl .smallLabel {
    -fx-font-family: 'Lato Bold';
    -fx-font-size: 12px;
}