.potHeightControl {
    -fx-padding: 10;
    -base-color: rgb(2, 138, 204);
    -fx-background-color: derive(-base-color, 80%);
}

.potHeightControl .drawingPane {
    -fx-background-color: -base-color;
}

.potHeightControl .display {
    -fx-font-family: 'Futura Medium';
    -fx-font-size: 32;
    -fx-fill: derive(-base-color, 80%);
}

